<img src="http://www.oregonscenics.com/s-n-p-ci-wide.jpg" class="img-responsive" alt="SkyLine"/>
<div class="main" ng-controller="news">
    <div class="col col-lg-9">
        <div class="new" ng-repeat="new in news">
            <h2>{{new.title}}</h2>
            <img class="img-responsive" ng-src="images/{{new.image}}"/>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" ng-repeat="subject in new.subjects"><a href="">{{subject}}</a></li>
            </ul>
            <p>{{new.intro}}</p>
        </div>
    </div>
    <div class="col col-lg-3">

    </div>
</div>